<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5"></h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

      </div>
    </div>
  </div>
</header>

<!-- icons -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Fully Responsive</h3>
          <p class="lead mb-0">This app will look great on any device, no matter the size!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Efficient Delivery</h3>
          <p class="lead mb-0">Predicting the ouput as soon as possible</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">Simple to access your data</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- content -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('assets/img/track-period.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Predictor</h2>
        <p class="lead mb-0">All of our predictions are based on the most up-to-date science. We collaborate with
          scientists and universities to ensure continuous improvements</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/calendar.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Interactive Calendar</h2>
        <p class="lead mb-0">Never get lost in your tracked data. With frequent analysis reports and a clear calendar
          overview you’ll draw conclusions quickly</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('assets/img/suggestions.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Suggestor</h2>
        <p class="lead mb-0">Learn about personal patterns with 30+ tracking options like cramps, skin, hair, sleep and
          more to gain a better understanding of how your body works.</p>
      </div>
    </div>
  </div>
</section>


<!-- testimonials -->

<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/girl1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This app is amazing! it reduces my stress about periods"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/girl2.jpg" alt="">
          <h5>Micheal S.</h5>
          <p class="font-weight-light mb-0">"This app is very useful in balancing my life and career"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/girl3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"This app reminds that i dont have to have the fear for the future"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

        <div class="form-row">

          <div class="col-12">
            <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="signup">Sign up</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>